:root {
    /* background */
    --primary-bg-color: #DAF2FC;
    --secondary-bg-color: #F8F8F8;
    --tertiary-bg-color: #1C4458;
    --quaternary-bg-color: #1B729E;
    /* grandient */
    --grandient-bg-color: linear-gradient(0deg, #DAF2FC, #DAF2FC);
    /* font  */
    --primary-font-color: #1B729E;
    --secondary-font-color: #333333;
    --tertiary-font-color: #ffffff;
    --quaternary-font-color: #818285;
}
