:root {
    /* background */
    --primary-bg-color: #F6EDE4;
    --primary-bg-color-dark: #DDD4CB;
    --primary-bg-color-darker: #C3BAB1;
    --primary-bg-color-darkest: #AAA198;
    --primary-bg-color-light: #fcf9f3;

    --secondary-bg-color: #D3B486;
    --secondary-bg-color-dark: #BA9B6D;
    --secondary-bg-color-darker: #A08153;
    --secondary-bg-color-darkest: #87683A;

    --blue-bg-color: #d6e3f1;
    --violet-bg-color: #f6e4f6;
    --green-bg-color: #e4f6e4;

    --tertiary-bg-color: #b68440;
    --quaternary-bg-color: #c8cbc7;
    --white-bg-color: #f9f9f9;
    --black-bg-color: #484848;
    /* grandient */
    --grandient-bg-color: linear-gradient(0deg, #f6ede4, #f6ede4);
    /* font  */
    --primary-font-color: #b68440;
    --secondary-font-color: #d3b486;
    --secondary-font-color-darker: #C59D61;
    --tertiary-font-color: #f6ede4;
    --quaternary-font-color: #8e9ca5;
    --black-font-color : #5c5c5c;
    --white-font-color : #fafafa;
}
